// Основные стили приложения
@import "variables";
@import "mixins";
@import "grid";

body {
  margin: 0;
  padding: 0;
  background: #333;
  color: #eee;
  font-family: $text-primary;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

.sounds {
  display: none;
}

.controls {
  display: flex;
  justify-content: center;
  width: 100%;
}

.controls button {
  margin: 0 10px;
}



.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}